body{
    margin: 0;
}

.container{
    display: grid;
    padding: 5% 8%;
}
.container.two{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    grid-column-gap: 5%;
}

.wrapper{
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
header{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
header > * { 
    display: flex;
    
   
}

header > nav > ul{
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    list-style: none;
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
}



.button-bordered{  
    border: 1px solid #ffffff00;
    text-decoration: none;
    color: #ffffff;
    font-family: 'Open Sans' , "sans-serif";
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding: 8px 18px;
}

.button-bordered:hover{
    border-radius: 17px;
    border: 1px solid #ffffff;
}

header > .logo > h2{
    margin-top: 35px;
    margin-left: 13%;
    color: #ffffff;
    font-family: 'Boogaloo', cursive;
    font-size: 35px;
    font-weight: 400;
    line-height: 12px;
}

#Hello{
    position: relative;
    background: url('../imgs/Layer_1.png') no-repeat 100% 100%;
    background-size: cover; 
    height: 737px;
}

.helo-center-text{
    margin-top: 15%;
    padding: 5%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.helo-center-text__h1{
    color: #ffffff;
    font-family: "Source Sans Pro", "sans-serif";
    font-size: 35px;
    font-weight: 300;
    line-height: 70px;
    text-transform: uppercase;
    letter-spacing: 7px;
}
.helo-center-text__p{
    color: #ffffff;
    font-family: "Open Sans";
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    /* Text style for "A, t vero" */
    letter-spacing: 0.8px;
}
.title-strong{
    color: #333b46;
    font-family: "Source Sans Pro", "sans-serif";
    font-size: 20px;
    font-weight: 300;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 4px;
    height: 14px;
}

.title-strong-small{
    color: #464646;
    font-family: "Open Sans";
    font-weight: 400;
    letter-spacing: 0.8px;
}

.text-white-p{

}
.text-gray-p, .text-white-p{
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    /* Text style for "A, t vero" */
    letter-spacing: 0.7px;
}
.text-white-p{
    color: white;
}
#about-first, #fetured-projects{
    display: flex;
    align-items: center;
    padding: 5% 15%;
}
#about-first img{
    margin: 0 15%;
}
#fetured-projects{
    background: #f3f3f3;
    flex-direction: column;
}
.center-h{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

}
#fetured-projects .text-gray-p{
    margin: 40px 0;
}
.icon-circle, .icon-circle__green, .icon-circle__gray{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 53px;
    height: 53px;
    border-radius: 50%;
}
.icon-circle__green{
    background-color: #19bd9a;
}
.icon-circle__gray{
    background-color: #81868e;
}
#fetured-projects .icons{
    display: flex;
    justify-content: center;
}
#fetured-projects .icons > div{
    margin: 0 3%;
}
.bottom__title--text{
    display: flex;

}
span.green{
    color: #19bd9a;
    font-family: "Open Sans - Bold", "sans-serif";
    font-weight: 700;
    letter-spacing: 0.8px;
}
span.gray{
    color: #636971;
    font-family: "Open Sans - Bold";
    font-weight: 700;
    letter-spacing: 0.8px;
}
.mrTop{
    margin-top: 50px;
}
#fetured-projects .text-gray-p.space-right{
    margin-right: 5%;
}
#portfolio .center-h{
    padding: 5%;
}
#portfolio .center-h p {
    margin: 20px 0 0 0;
}
.portfolio-3photos{
    position: relative;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    background: white;
    
}
.portfolio-3photos p {
    z-index: 1;
}
.portfolio-3image_1{
    height: 319px;
    background: url('../imgs/images3_1.png') no-repeat center;
}
.portfolio-3image_2{
    height: 319px;
    background: url('../imgs/images3_2.png') no-repeat center;
    opacity: 0.85;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-3image_3{
    height: 319px;
    background: url('../imgs/images3_3.png') no-repeat center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.portfolio-3photos .white{
    color: white;
}
#shadow-3images{
    position: absolute;
    width: 50%;
    height: 319px;
    right: 0;
}
.block_submit-now{
    display: flex;
    height: 113px;
    background-color: #19bd9a;
}
.block_submi-now-content{
    background: url(../imgs/submitNowBG.png) 100% 100%;
    min-height: 113px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
#services{
    position: relative;
    display: flex;
    background: #f3f3f3;
    flex-direction: column;
    padding: 5%;
}
#services .center-h p{
    margin: 0;
    margin-top: 20px;
}
.services-circles{
    margin-right: 5%;
}
.services-circles > *{
    margin: 15px 0;
}
.services-list{
    display: flex;
}
.services-text{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.services-circles-procents{
    display: flex;
    justify-content: space-evenly;
}
.services-circles-procents > .circleWithTag > div{
    height: 120px;
    width: 120px;
    justify-content: center;
    align-items: center;
    display: flex;
}
.services-circles-procents >.circleWithTag > div>p{
    color: #81868e;
    font-family: "Open Sans";
    font-size: 25px;
    font-weight: 400;
    letter-spacing: 1.25px;
}
.circleWithTag{
    text-align: center;
}
.circleWithTag > p{
    color: #81868e;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.25px;
}
.services-circles-procents >.circleWithTag > div>p>span{
    font-size: 14px;
    letter-spacing: 0.7px;
}
.services-circle-60{
    background: url('../imgs/circle60.png') no-repeat center;
    background-size: contain;
}
.services-circle-75{
    background: url('../imgs/circle75.png') no-repeat center;
    background-size: contain;
}
.services-circle-80{
    background: url('../imgs/circle80.png') no-repeat center;
    background-size: contain;
}
/*  Extra small devices (portrait phones, less than 576px) */


@media (max-width: 575.98px) { 
    .bottom__title--text{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .services-list{
        display: flex;
        flex-direction: column;
    }
    .services-circles{
        display: flex;
        justify-content: space-evenly;
    }
    .container.two{
        grid-template-columns: 1fr;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    
    .bottom__title--text{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .services-list{
        display: flex;
        flex-direction: column;
    }
    .services-circles{
        display: flex;
        justify-content: space-evenly;
    }
    .container.two{
        grid-template-columns: 1fr;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    
}

@media (max-width: 991.98px){
    #about-first{
        flex-direction: column;
        text-align: center;
}

}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 

 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 

}


@media (max-width:650px) {
    header> nav > ul >li{
        margin: 40px 0;
    }
}